<nav>
  <ul class="navigation-ul">
    <li class="navigation-li"><a href="{{ url_for('home') }}">Home</a></li>
    <li class="navigation-li"> | </li>
    <li class="navigation-li">
      <a href="{{ url_for('digit') }}">Recognize Digit</a>
    </li>
    <li class="navigation-li"> | </li>
    <li class="navigation-li">
      <a href="{{ url_for('symbol') }}">Recognize Symbol</a>
    </li>
    <li class="navigation-li"> | </li>
    <li class="navigation-li">
      <a href="{{ url_for('capture') }}">Capture Symbol</a>
    </li>
    <li class="navigation-li"> | </li>
    <li class="navigation-li">
      <a href="{{ url_for('about') }}">About</a>
    </li>
  </ul>
</nav>
