<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Symbol Recognizer</title>
    <link rel="stylesheet" href="/static/symbol-style.css" />
  </head>
  <body>
    <main>
      {% include("_navigation.html") %}
      <div class="container">
        <h1>Symbol Recognizer</h1>
        <div class="search-box">
          <div class="draw-title">Draw<br />a symbol:</div>
          <div class="canvas-div">
            <canvas
              class="canvas"
              id="canvas"
              width="112px"
              height="112px"
            ></canvas>
          </div>
          <div class="buttons">
            <button class="button-predict" id="predictButton">Predict</button>
            <button class="button" id="clearButton">Clear</button>
          </div>
          <div class="prediction-container">
            <h3 class="prediction-heading">Prediction:</h3>
            <div class="prediction-label">
              <div class="prediction" id="prediction">?</div>
              <div class="confidence" id="confidence"></div>
            </div>
          </div>
        </div>
      </div>
      {% include("_messages.html") %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/symbol-script.js"></script>
  </body>
</html>
